<ion-header>
  <ion-toolbar>
    <ion-title mode="md" slot="end" color="tertiary">
      Clients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <div class="cards" *ngFor="let c of cards">

      <div class="userInfos">
        <div class="picture">
          <ion-avatar [id]="'avatar'+c.id"></ion-avatar>
        </div>
        <div class="infos">
          <ion-label>{{ c.user.prenom }}  {{ c.user.nom }}</ion-label>
          <ion-label color="tertiary" (click)="mail(c.user.email)">{{ c.user.email }}</ion-label>
        </div>
      </div>

      <div class="points">
        <ion-label>
          Nombre de points : {{ c.points }}
        </ion-label>
      </div>

    </div>
  </div>
</ion-content>
