ion-item{
    padding: 5px 0px 5px 0px !important;
}
.textParametre{
    font-size: 0.7rem !important;
    height: 10px !important;
    line-height:0px !important;
}
.wrap{
    white-space: normal !important;
}
.custom-options{
    color: purple !important;
    --color: purple !important;
    --background: purple !important;
    --button-color: #971e49;
}